html, body {
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#app {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4px;
}

div {
    padding: 20px 0 0;
    height: 100%;
}

button {
    padding: 0.5rem;
    border-radius: 15px;
    background-color: rgb(255, 185, 163);
    font-weight: 600;
    border: 1px solid gray;
}